<h1>About</h1>
<p>
  <%= link_to "One Month Rails Review", "http://www.github.com/beverlynelson/omr_review" %>
  is a project I'm testing to teach 
  <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
  to HS students. This is the sample application.
</p>