<div class="footer">
  <small>
    <%= link_to "One Month Rails Review", "http://github.com/beverlynelson/omr_review" %>
    by <%= link_to "Beverly Nelson", "http://github.com/beverlynelson" %>
  </small>
</div>